<div class="post__create__box">
  <form action="/create-post" method="POST">
    <label for="title">Title</label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="body">Content</label>
    <textarea name="body" cols="50" rows="10"></textarea>

    <input type="submit" value="Create" class="create__post__btn btn">
  </form>
</div>