<header class="header">
  <nav class="header__nav">
    <a href="/" class="header__logo"><img src="/img/logo.png" alt="Logo Image"></a>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__btn">
    <a href="/logout">
        Logout
    </a>
  </div>
</header>