<div class="about__div"> 
  <section>
      <h2>Introduction</h2><br>
      <p>
        Welcome to my personal blog! I'm Sebastian Latham, and I'm passionate about Computer Science.<br>
        I'm in my 2nd year of the Computer Science with a Year in Industry programme at Cardiff University.<br><br>
        Currently I'm attempting to maintain a first in my degree whilst learning as many new skills as possible on the side.<br>
        These include <i>Programming Languages</i>: Python, Javascript; <i>Frameworks</i>: Django, Express.js and <i>Front-end Technologies</i>: HTML, CSS and Bootstrap.<br><br>
      </p>
  </section>
  <br>
  <section>
      <h2>My Story</h2><br>
      <p>
        I have not always wanted to study Computer Science, in fact, I initially wanted to study Medicine.<br>
        But having not been successful in my attempt to study Medicine, I decided to have a long and hard think on
        what I truly find enjoyable. After sometime thinking I came to the conclusion that I would study Computer Science.<br><br>
        I came to this conclusion because Mathematics has always been my favourite subject at school and I have probably spent more time on computers than off.
        Little did I realise that this would have been the best choice I had made in a long time.
      </p>
  </section>
  <br>
  <section>
    <h2>My Interests</h2><br>
    <p>
      Perhaps one of my favourite past-times is to play a game of Chess. I have dedicated over 850 hours on chess.com and this has given me
      a peak rating of 1713 in Rapid Chess >> <a href="https://www.chess.com/member/ydusf" style="text-decoration: underline;">My Chess Profile</a><br><br>
      I also enjoy a game of football. However this hobby has been neglected in recent years due to a lack of opportunity for my ideal conditions.
    </p>
  </section>
</div> 