<div class="contact__div">
  <section>
    <h2>Contact Information</h2><br>
    <p>If you'd like to get in touch with me, feel free to email me at <a href="https://mail.google.com/mail/" style="text-decoration: underline;">sebastian.tlatham@gmail.com</a>.</p>
  </section>
</div>