<section>
  <div class="add__post__btn">
    <a href="/create-post">+ Create New Post</a>
  </div>
  <ul class="post__links">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>" class="post__link">
          <span class="post__heading"><%= post.title %></span>
          <span class="post__date"><%= post.updatedAt.toDateString()%></span>
        </a>
      </li>
    <% }) %>
  </ul>
</section>