@font-face{
  font-family: myFont;
  src: url('Mooli-Regular.ttf');
}
  
:root{
  --p-colour: #333333;
  --s-colour: #555555;
  --a-colour: #007acc;
  --bg-colour: black;
  --bs-font-size: 1rem;
  --md-font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --lg-font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --xl-large-font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 8px;
  --box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: myFont;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-size: var(--bs-font-size);
  display: block;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
  color: black;
  border-radius: var(--border-radius);
}

li, a, button{
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-colour);
}

/* FOOTER STYLING */
footer{
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

/* HEADER STYLING */
.header{
  background-color: var(--p-colour);
  padding: 0 20px;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo{
  cursor: pointer;
}

.header__nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav li{
  display: inline-block;
  margin-right: 20px;
  padding: 0 15px;
}

.header__nav li:last-child{
  margin-right: 0;
}

.header__nav a{
  transition: all 0.3s ease;
}

.header__nav a:hover{
  color: var(--a-colour);
}

/* ALL POST STYLING */
.post__links{
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.post__link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px 0;
  font-size: var(--md-font-size);
  padding: 0 0 0 30px;
}

.post__date{
  display: inline-block;
  min-width: 200px;
}

/* SPECIFIC POST STYLING */
.blog__post{
  padding: 30px;
  white-space: pre-line;
  overflow-y: scroll;
  max-height: 90vh;
}

.blog__post__title{
  font-size: var(--lg-font-size);
  font-weight: bold;
  text-align: center;
}

.blog__post__body{
  padding: 0 20px;
  font-size: var(--md-font-size);
}

.add__post__btn{
  text-align: right;
  margin: 18px 40px 0 0;
}

/* BUTTON STYLING */
.edit__post__btn, 
.create__post__btn, 
.delete__post__btn,
.admin__register__btn{
  border: none;
  margin: 0 2px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: var(--border-radius);
  font-size: var(--bs-font-size);
}

.delete__post__btn{
  background-color: red;
}

.edit__post__btn, .admin__register__btn{
  background-color: var(--a-colour);
}

.create__post__btn{
  background-color: green;
}

.man__post__btn{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 30px;
}

/* FORM STYLING */
.post__create__box, .admin__register__box{
  padding: 30px;
}

/* ABOUT PAGE */
.about__div, .contact__div{
  padding: 30px;
}



